<!DOCTYPE html>
<html>
<head>
  <title>API VAPT Report</title>
</head>
<body>
<p>Hi {Name} - API VAPT report is a must-have for customer compliance needs.</p>

<p>Trusted by more than 5,000 customers across 95 countries, our advanced Web & API Protection platform guarantees zero false positives and autonomously remediate vulnerabilities.</p>

<p>Leading organisations in the Middle East such as Al Danube, Galadari Brothers, STC Bahrain, and Orient Insurance rely on it every day.</p>

<p>How about a conversation tomorrow around 10 AM to discuss more?</p>

<p>Cheers!<br>
  Venkatesh Sundar<br>
  Founder at IndusFace</p>
</body>
</html>
